@{
    ViewBag.Title = "Kategori Sayfası";
}

<div class="col-md-6">
<div class="card">
    < class="card-header">
        <h3 class="card-title">Kategori Listesi</h3>
    < class="card-body">
    </div>
</div>
</div>
